.imageContainer {
    height: 80px !important;
}

.imageCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 1px solid black;
    border-radius: 10px;
}