* {
  font-family: Roboto;
  margin: 0;
}

.directions {
  position: absolute;
  width: 275px;
  top: 0px;
  right: 0px;
  padding: 15px;
  margin: 0.25rem;
  color: white;
  background-color: #2d3748;
  border-radius: 0.25rem;
  height: 300px;
  overflow-y: auto;
  max-width: 50% !important;
  overflow-x: auto;
}

ul {
  padding: 0px;
  padding-left: 1.5rem;
  margin: 0px;
}

li button {
  color: #f6e05e;
  background: none;
  border: none;
 cursor: pointer;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.combobox-option {
  color: black;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.input, .combobox-input, .dropdown-vehicle {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.25);
  padding: 8px;
}
